# Backend
DATABASE_URL=postgres://user:contraseña@db:5432/bingo_db
PORT=3001

# Frontend
VITE_API_URL=http://localhost:3001

# Google API Integration
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=your-google-sheet-id
GOOGLE_DRIVE_FOLDER_ID=your-google-drive-folder-id
